RewriteEngine on
RewriteRule ^vards?$ serialise.php [L]
RewriteRule ^logout?$ auth/clearsessions.php [L]
RewriteRule ^vardi?$ index.php?id=vardi [L]
RewriteRule ^draugi?$ index.php?id=draugi [L]
RewriteRule ^kalendars?$ index.php?id=dienas [L]
RewriteRule ^karte?$ index.php?id=karte [L]
RewriteRule ^tops?$ index.php?id=tops [L]
RewriteRule ^koest?$ index.php?id=koest [L]
RewriteRule ^statistika?$ index.php?id=stat [L]
RewriteRule ^draugs/([^/\.]+)/?$ index.php?id=draugs&dra=$1 [L]
RewriteRule ^vards/([^/\.]+)/?$ index.php?id=vards&vards=$1 [L]
RewriteRule ^vieta/([^/\.]+)/?$ index.php?id=vieta&vieta=$1 [L]
RewriteRule ^grupa/([^/\.]+)/?$ index.php?id=grupa&grupa=$1 [L]